<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:replace="a_fragment_head :: head"></div>
<body>
<div th:replace="a_fragment_navbar :: navbar"></div>
<div class="container">

    <h1 class="heading mt-4 text-center">Créé un nouveau Daret</h1>

    <form class="mt-4" method="post" role="form" th:action="@{/daret/save}" th:object="${daret}">
        <div class="form-group">
            <label for="daretName">Nom</label>
            <input type="text" name="name" th:field="*{name}" class="form-control" id="daretName" placeholder="Donner un nom pour votre Daret">
            <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>
        </div>

        <div class="form-group">
            <label for="peopleNumber">Nombre des personnes</label>
            <input type="number" name="participant_number" class="form-control" id="peopleNumber" placeholder="Donner le nombre des personnes qui vont participer">
        </div>
        <div class="form-group">
            <label for="amount">Montant de chaque période pour chaque personne</label>
            <input type="number" name="amount" class="form-control" id="amount" placeholder="Donner le montant de chaque période">
        </div>
        <div class="form-group">
            <label for="startDate">Date de démarrage</label>
            <input type="date" name="start_date" th:value="${currentDate}" class="form-control" id="startDate" placeholder="Donner la date de démarrage">
        </div>
        <div class="form-group">
            <label for="frequency">La périodicité</label>
            <select class="form-control" id="frequency" name="frequency">
                <option>Choisissez la périodicité</option>
                <option>Chaque semaine</option>
                <option>Toutes les deux semaines</option>
                <option>Toutes les trois semaines</option>
                <option>Mensuel</option>
                <option>Tous les deux mois</option>
                <option>Tous les trois mois</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Créé</button>
    </form>
</div>

</body>
</html>