<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:replace="a_fragment_head :: head"></div>
<body>
<div th:replace="a_fragment_navbar :: navbar"></div>
<div class="container">

    <form action="/darets/new" method="get" class="mt-4">
        <button type="submit" class="btn btn-success">Créé un nouveau</button>
    </form>

    <table class="table table-striped table-bordered table-hover mt-4">
        <thead class="table-dark bg-dark">
        <tr>
            <th>Nom</th>
            <th>Créé par</th>
            <th>Numéro des participants</th>
            <th>Period</th>
            <th>Statut</th>
            <th>Date de démarrage</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="daret: ${darets}">
            <td>
                <a th:href="${'/daret/' + daret.name}" th:text="${daret.name}"></a>
            </td>
            <td th:text="${daret.created_by}"></td>
            <td th:text="${daret.participant_number}"></td>
            <td th:text="${daret.frequency}"></td>
            <td>
                <span th:class="${daret.active ? 'badge badge-success' : 'badge badge-danger'}"
                      th:text="${daret.active ? 'Actif' : 'Pas encore actif'}"></span>
            </td>
            <td th:text="${daret.start_date}"></td>
            <td th:text="${daret.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>